<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DeepNePl - Deep Learning Platform for Neuroprosthetics</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
	<a class="navbar-brand" href="/index">DeepNePl</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle \
																								    navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
	  <ul class="navbar-nav ml-auto">
	    <li class="nav-item">
	      <a class="nav-link" href="/about">About</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/testing">Testing</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/diagnostics">Diagnostics</a>
	    </li>
<!--	    <li class="nav-item">
	      <a class="nav-link" href="/404">Retraining</a>
	    </li>
-->
	  </ul>
	</div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
	  <!-- Slide One - Set the background image for this slide in the line below -->
	  <div class="carousel-item active">
	    <div class="carousel-caption d-none d-md-block">
	      <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTo7XM6nh7gCOLVxK19sYfr32lJ4VYXzmkTNzEqrxCX7J8o5m0UlZYZMMcvVD82wi3JAJ2lzdlxdAkF/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	    </div>
	  </div>      
	</div>      
      </div>      
    </header>


    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Welcome to DeepNePl</h1>

      <div class="row">
	<div class="col-lg-9 mb-4">
	  <div class="card h-100">
	    <h4 class="card-header">Test Dataset</h4>
	    <div class="card-body">
	      DeepNePl is a web platform to evaluate the performance of deep learning models in classifying actions based on their electroencephalography signature. The data shape is (N,C,T), where N is the number of instances (i.e. labeled actions recorded), C is the number of channels (i.e. electrodes), and T is the number of time steps recorded for each action.

	      Three convolutional neural networks (CNN), as implemented in
	      <a href="https://robintibor.github.io/braindecode/">Braindecode</a>, are considered:
	      <li>Model A: a 2D CNN where a first convolution of spatial (dimension C) filters is followed by two layers of two-dimensional (dimensions C and T) filters. Maxpooling and batch normalization is used between each convolution. Additional details can be found at <a href="https://arxiv.org/abs/1611.08024">arXiv:1611.08024</a>.</li>
	      
	      <li>Model B: a 1D CNN where a first convolution of time filters (dimension T)
		is followed by a convolution of spatial filters (dimension C) and average pooling.
		Additional details can be found at <a href="https://arxiv.org/abs/1703.05051">arXiv:1703.05051</a>.</li>
	      <li>Model C: a deep CNN with four consecutive blocks of convolutions.
		Each block consists of two-dimensional (dimensions C and T) filters, followed by batch normalization and maxpooling.
		Additional details can be found at <a href="https://arxiv.org/abs/1703.05051">arXiv:1703.05051</a>.</li>
	      
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>   
    
  </body>
</html>
