<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DeepNePl - Deep Learning Platform for Neuroprosthetics</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
	<a class="navbar-brand" href="index.html">DeepNePl</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle \
																								    navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
	  <ul class="navbar-nav ml-auto">
	    <li class="nav-item">
	      <a class="nav-link" href="about.html">About</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/testing">Testing</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="diagnostics.html">Diagnostics</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="retraining.html">Retraining</a>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>
    
    <!-- Page Content -->
    <div class="container">

      <h1 class="my-4">Welcome to DeepNePl</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
	<div class="col-lg-4 mb-4">
	  <div class="card h-100">
	    <h4 class="card-header">Testing</h4>
	    <div class="card-body">
	      <p class="card-text">Evaluate the performance of the collection of models available in DeepNePl on your test dataset.</p>
	    </div>
	    <div class="card-footer">
	      <a href="/testing" class="btn btn-primary">Go to testing</a>
	    </div>
	  </div>
	</div>
	<div class="col-lg-4 mb-4">
	  <div class="card h-100">
	    <h4 class="card-header">Diagnostics</h4>
	    <div class="card-body">
	      <p class="card-text">Visualize the EEG data to identify problematic recordings.</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-primary">Go to diagnostics</a>
	    </div>
	  </div>
	</div>
	<div class="col-lg-4 mb-4">
	  <div class="card h-100">
	    <h4 class="card-header">Retraining</h4>
	    <div class="card-body">
	      <p class="card-text">Retrain the final layer of specific models</p>
	    </div>
	    <div class="card-footer">
	      <a href="#" class="btn btn-primary">Go to retraining</a>
	    </div>
	  </div>
	</div>
      </div>

      <hr>
        
    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>   
    
  </body>
</html>
