<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DeepNePl - Deep Learning Platform for Neuroprosthetics</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/modern-business.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
	<a class="navbar-brand" href="index.html">DeepNePl</a>
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle \
																								    navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarResponsive">
	  <ul class="navbar-nav ml-auto">
	    <li class="nav-item">
	      <a class="nav-link" href="about.html">About</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="/testing">Testing</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="diagnostics.html">Diagnostics</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="retraining.html">Retraining</a>
	    </li>
	  </ul>
	</div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      
      <h1 class="my-4">Testing</h1>
      
      <div class="row">
	<div class="col-lg-4 mb-4">
	  <div class="card h-100">
	    <h4 class="card-header">Models</h4>
	    <div class="card-body">
	      <p class="card-text">Select models to include.</p>
	      <div class="form-check">
		<input class="form-check-input" type="checkbox" value="" id="defaultCheck1" checked>
		<label class="form-check-label" for="defaultCheck1">
		  Model A - 2D CNN
		</label>
	      </div>
	      <div class="form-check">
		<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
		<label class="form-check-label" for="defaultCheck2">
		  Model B - 1D CNN
		</label>
	      </div>
	      <div class="form-check">
		<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
		<label class="form-check-label" for="defaultCheck2">
		  Model C - deepCNN
		</label>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="col-lg-4 mb-4">
	  <div class="card h-100">
	    <h4 class="card-header">Test dataset</h4>
	    <div class="card-body">
	      <p class="card-text">Upload test dataset.</p>

	      <form action = "/uploader/testing/test_X.npy" method = "POST"
		    enctype = "multipart/form-data" id="testdata">
		Testing data: <input type = "file" name = "file" />
		<input type = "submit"/>
	      </form>
	      <form action = "/uploader/testing/test_y.npy" method = "POST"
		    enctype = "multipart/form-data" id="testdata">
		Testing labels: <input type = "file" name = "file" />
		<input type = "submit"/>
	      </form>
	      
	    </div>
	  </div>
	</div>
	<div class="col-lg-4 mb-4">
	  <div class="card h-100">
	    <h4 class="card-header">Classification task</h4>
	    <div class="card-body">
	      <p class="card-text">Select the classification task the model has been pretrained for</p>
	      <div class="form-check">
		<input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
		<label class="form-check-label" for="defaultCheck2">
		  Imagined hands vs feet movement
		</label>
	      </div>
	    </div>
	  </div>
	</div>
      </div>

      <!-- Call to Action Section -->
      <div class="row mb-4">
	<div class="col-md-4">
	  <a class="btn btn-lg btn-secondary btn-block" href="/output">Evaluate</a>
	</div>
      </div>
      
    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>   
    
  </body>
</html>
